@if (isOpenModal) {
    <rvia-modal #modalSavePrompt 
        [title]="'Guardar prompt'" 
        (clickClose)="isOpenModal = false">
            <form-save-prompt 
                [prompt]="prompt" 
                [schema]="optionSchemas[form.controls['option'].value]"
            />
    </rvia-modal>
}

<section class="chat-container h-full w-full text-black">
    <form [formGroup]="form" class="flex-grow">
        <div class="p-1">
            <div class="flex flex-col">
                <label for="valueSelect" class="form-label mb-4 text-white">Selecciona un tipo de esquema:</label>
                <div>
                    <select id="valueSelect" class="custom-select" 
                            formControlName="option" >
                        <option value="" disabled selected>Elige una esquema</option>
                        @for( opt of optionSchemas; track opt.id){
                            <option [value]="opt.id">{{opt.value}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        @if( textBoxes.controls.length > 0 ){
            <div formArrayName="textBoxes"
                class="grid gap-4 w-full mt-6 items-center"
                [ngClass]="form.controls['option'].value === '3' ? 'grid-cols-2' : 'grid-cols-3'" >
                @for (control of textBoxes.controls; track $index) {
                    <div class="w-21rem">
                        <label class="text-white" for="textBox{{ $index }}">{{ labelText($index)}}</label>
                        <textarea 
                            id="textBox{{ $index }}"
                            [formControlName]="$index" 
                            rows="4"
                            class="block w-full p-2 border rounded min-h-56"  
                        >
                       </textarea>
                    </div>
                }
            </div>
            
            <div class="mt-4 w-21rem text-black flex justify-around gap-5">
                <div class="flex text-center">
                    <button
                        (click)="fileInput.click()"
                        class="flex items-center justify-center text-gray-400 btn-primary">
                        <i class="fa-solid fa-paperclip text-xl"></i>
                    </button>
                
                    <input
                        type="file"
                        #fileInput
                        hidden
                        (change)="handleSelectedFile($event)"
                    />

                    @if(form.controls['file'].value !== null){
                        <p class="text-white my-auto ml-2">{{ form.controls['file'].value.name }}</p>
                    }@else {
                        <p class="text-white my-auto ml-2">Selecciona un archivo</p>
                    }
                </div>

                <div class="flex gap-4">
                    <button (click)="resetForm()" class="block my-auto w-full btn-primary">
                        Limpiar
                    </button>
                    @if (form.valid) {
                        <button 
                            type="button" 
                            (click)="onSubmit()" 
                            class="block my-auto w-full btn-primary whitespace-nowrap"
                            [disabled]="isLoading()">
                            Probar prompt
                        </button>
                    }
                </div>
            </div>
        }
    </form>

    @if (isLoading()) {
        <div class="flex mt-4 justify-center">
            <app-typing-loader />
        </div>
    }

    @if(response !== null && !isLoading()){
        <div class="chat-messages px-4 mt-4 flex-grow">
            <div class="text-sm bg-black bg-opacity-25 py-2 px-4 shadow rounded-xl text-white ">
                <p style="white-space: pre-line;">{{ response }}</p>
            </div>
        </div>
        <div class="flex justify-end px-4">
            <button 
                (click)="savePrompt()" 
                class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Guardar prompt
            </button>
        </div>
    }

    @if(isError() && !isLoading()){
        <div class="bg-red-500 text-white p-4 rounded mt-4 text-center font-bold">
            {{ errorMessage }}
        </div>
    }
</section>